%h2 Alumni in the News
.press-container
  %p
    =link_to("Healthy Snack Startup NatureBox Raises $18 Million Series B Led By Canaan Partners", "http://techcrunch.com/2014/04/14/naturebox-18m-canaan/", target: '_blank')
    =image_tag('http://g.etfv.co/http://www.techcrunch.com/')
    %span Techcrunch · 14 April 2014
  %p
    =link_to("Dry-erase paint maker IdeaPaint plans 35% customer growth, moves HQ to Boston", "http://www.bizjournals.com/boston/blog/startups/2014/02/dry-erase-paint-maker-ideapaint-plans.html", target: '_blank')
    =image_tag('http://g.etfv.co/http://www.bizjournals.com/')
    %span Boston Business Journal · 25 February 2014
  %p
    =link_to("Boston area Companies take 20 spots in the Inc. 500", "http://bostinno.streetwise.co/2013/08/20/boston-area-companies-take-20-spots-in-the-inc-500/", target: '_blank')
    =image_tag('http://g.etfv.co/http://bostinno.streetwise.co/')
    %span BostInno · 20 August 2013
  %p
    =link_to("Healthy Snack Subscription Commerce Startup NatureBox Raises $8.5 Million From General Catalyst & Softbank", "http://techcrunch.com/2013/07/23/naturebox-8-5-million-series-a/", target: '_blank')
    =image_tag('http://g.etfv.co/http://www.techcrunch.com/')
    %span Techcrunch · 23 July 2013
  %p
    =link_to("UpOut Raises $850,000 in Seed Funding from Sand Hill Angels and Others", "http://www.pehub.com/2013/05/upout-raises-850000-seed-funding-sand-hill-angels-others", target: '_blank')
    =image_tag("http://g.etfv.co/http://www.pehub.com/")
    %span PE Hub · 22 May 2013
  %p
    =link_to("CompStak Closes Series A, Raises $4.45M from Canaan Partners, Founder Collective and 500 Startups", "http://blog.compstak.com/wsj-compstak-closes-series-a-raises-4-45m-from-cannan-partners-founder-collective-and-angels/", target: '_blank')
    =image_tag("http://g.etfv.co/http://http://online.wsj.com/")
    %span Wall Street Journal · 9 April 2013
  %p
    =link_to("YC-Backed Virool Raises $6.62 Million “Seed” Round To Help Make Videos Go Viral", "http://techcrunch.com/2013/02/14/yc-backed-virool-raises-6-62-million-seed-round-to-help-make-videos-go-viral/", target: '_blank')
    =image_tag('http://g.etfv.co/http://www.techcrunch.com/')
    %span Techcrunch · 14 February 2013
  %p
    =link_to("YC Demo Day Session 1: PlanGrid, Medigram, Zillabyte, HireArt, Flutter, Givespark, Popset, SendHub, Screenleap, Coderwall, LVL6", "http://techcrunch.com/2012/03/27/yc-demo-day-session-1/", target: '_blank')
    =image_tag('http://g.etfv.co/http://www.techcrunch.com/')
    %span Techcrunch · 27 March 2012
  %p
    =link_to("Minus Raises $1 Million From IDG Capital To Simplify File Sharing", "http://techcrunch.com/2011/08/02/minus-raises-1-million-from-idg-capital-to-simplify-file-sharing/", target: '_blank')
    =image_tag("http://g.etfv.co/http://www.techcrunch.com/")
    %span Techcrunch · 2 August 2011
  %p
    =link_to("Ozura World Buys Affiliate Marketing And Ad Network Tatto Media For $60 Million", "http://techcrunch.com/2011/04/11/ozura-world-buys-affiliate-marketing-and-ad-network-tatto-media-for-60-million/", target: '_blank')
    =image_tag("http://g.etfv.co/http://www.techcrunch.com/")
    %span Techcrunch · 11 April 2011