.row.row-space-3
  %h2 General Info
  .item
    All intellectual property at this website is in the public domain or the property of the site owner.
    %br %br
    I, Andy Huang, pledge my honor that I have neither received nor provided unauthorized assistance during the completion of this work. I have read the term project instructions and have observed all the restrictions and limitations specified therein.